@font-face {
    font-family: 'Estedad Regular';
    src: url("/fonts/estedad/estedad-400.woff2") format('woff2');
}
@font-face {
    font-family: 'Estedad Medium';
    src: url("/fonts/estedad/estedad-500.woff2") format('woff2');
}
@font-face {
    font-family: 'Estedad Bold';
    src: url("/fonts/estedad/estedad-700.woff2") format('woff2');
}
@font-face {
    font-family: 'IranYekan Regular';
    src: url("/fonts/iran-yekan/iran-yekan-400.woff2") format('woff2');
}
@font-face {
    font-family: 'IranYekan Medium';
    src: url("/fonts/iran-yekan/iran-yekan-500.woff2") format('woff2');
}
@font-face {
    font-family: 'IranYekan Bold';
    src: url("/fonts/iran-yekan/iran-yekan-700.woff2") format('woff2');
}
@font-face {
    font-family: 'Montserrat Black';
    src: url("/fonts/montserrat/Montserrat-Black.ttf") format('truetype');
}
/* Vazir Matn Font */

@font-face {
    font-family: 'VazirMatn Bold';
    src: url("/fonts/vazir-matn/Vazirmatn-Bold.woff2") format('woff2');
}

@font-face {
    font-family: 'VazirMatn Light';
    src: url("/fonts/vazir-matn/Vazirmatn-Light.woff2") format('woff2');
}

@font-face {
    font-family: 'VazirMatn Medium';
    src: url("/fonts/vazir-matn/Vazirmatn-Medium.woff2") format('woff2');
}

@font-face {
    font-family: 'VazirMatn Regular';
    src: url("/fonts/vazir-matn/Vazirmatn-Regular.woff2") format('woff2');
}

@font-face {
    font-family: 'WalterTurncoat';
    src: url("/fonts/walter-turncoat/WalterTurncoat-Regular.ttf") format('truetype');
}
