@theme {

    /* Colors */

    --color-blue: rgb(90 141 238);
    --color-red: rgb(255 91 92);
    --color-yellow: rgb(253 172 65);
    --color-black: rgb(38 60 85);
    --color-white: rgb(255 255 255);
    --color-gray-50: rgba(38, 60, 85, 6%);
    --color-primary: rgb(90 141 238);
    --color-secondary: rgb(105 128 154);
    --color-success: rgb(57 218 138);
    --color-dark: rgb(73 85 99);
    --color-caption: rgb(103 119 136);
    --color-title: rgb(81 99 119);
    --color-zinc: rgb(212 216 221);
    --color-background: rgb(14 16 30);
    --color-purple-*: initial;
    --color-purple-50: rgb(225 212 255);
    --color-purple-100: rgb(207 187 255);
    --color-purple-200: rgb(191 165 255);
    --color-purple-500: rgb(103 51 246);
    --color-cyan: rgb(32 214 255);
    --color-section: rgb(22 22 23);
    --color-neutral-300: rgb(224 231 249);
    --color-yellow-light: rgb(255 249 78);
    --color-gray-900: rgb(183 182 182);


    /* Fonts-Family */

    --font-Estedad: 'Estedad Regular';
    --font-Estedad-Medium: 'Estedad Medium';
    --font-Estedad-Bold: 'Estedad Bold';
    --font-IranYekan: 'IranYekan Regular';
    --font-IranYekan-Medium: 'IranYekan Medium';
    --font-IranYekan-Bold: 'IranYekan Bold';
    --font-Montserrat-Black: 'Montserrat Black';
    --font-VazirMatn: 'VazirMatn Regular';
    --font-VazirMatn-Bold: 'VazirMatn Bold';
    --font-VazirMatn-Light: 'VazirMatn Light';
    --font-VazirMatn-Medium: 'VazirMatn Medium';
    --font-WalterTurncoat: "WalterTurncoat";

    /* Fonts-Size */

    --text-2xs: 0.8125rem;
    --text-2xs--line-height: 1.5rem;
    --text-2sm: 0.9375rem;
    --text-2sm--line-height: 1.75rem;

    /* Screen */

    --breakpoint-*: initial;
    /* 480px */
    --breakpoint-sm: 40rem;
    /* 768px */
    --breakpoint-md: 48rem;
    /* 1024px */
    --breakpoint-lg: 64rem;
    /* 1280px */
    --breakpoint-xl: 80rem;
}