@theme {

    /* Colors */

    --color-blue: rgb(90 141 238);
    --color-red: rgb(255 91 92);
    --color-yellow: rgb(253 172 65);
    --color-black: rgb(38 60 85);
    --color-white: rgb(255 255 255);
    --color-gray-50: rgba(38, 60, 85, 6%);
    --color-primary: rgb(90 141 238);
    --color-secondary: rgb(105 128 154);
    --color-success: rgb(57 218 138);
    --color-dark: rgb(73 85 99);
    --color-caption: rgb(103 119 136);
    --color-title: rgb(81 99 119);
    --color-zinc: rgb(212 216 221);

    /* Purple-Color */


    --color-purple-*: initial;


    /* Fonts-Family */

    --font-Estedad: 'Estedad Regular';
    --font-Estedad-Medium: 'Estedad Medium';
    --font-Estedad-Bold: 'Estedad Bold';
    --font-IranYekan: 'IranYekan Regular';
    --font-IranYekan-Medium: 'IranYekan Medium';
    --font-IranYekan-Bold: 'IranYekan Bold';
    --font-Montserrat-Black: 'Montserrat Black';
    --font-VazirMatn: 'VazirMatn Regular';
    --font-VazirMatn-Bold: 'VazirMatn Bold';
    --font-VazirMatn-Light: 'VazirMatn Light';
    --font-VazirMatn-Medium: 'VazirMatn Medium';

    /* Fonts-Size */

    --text-2xs: 0.8125rem;
    --text-2xs--line-height: 1.5rem;
    --text-2sm: 0.9375rem;
    --text-2sm--line-height: 1.75rem;

    /* Reset-Screen */

    --breakpoint-*: initial;

    /* 480px */
    --breakpoint-sm: 40rem;

    /* 768px */
    --breakpoint-md: 48rem;

    /* 1024px */
    --breakpoint-lg: 64rem;

    /* 1280px */
    --breakpoint-xl: 80rem;

}