@import 'tailwindcss';
@import './styles/fonts.css' layer(base);
@import './styles/theme.css' layer(theme);
@import '@aws-amplify/ui-react/styles.css';

@layer base {
    body {
        direction: rtl;
        color: var(--color-caption);
    }
}

@layer components {
    .sidebar-menu-text {
        @apply overflow-hidden transition-all duration-300 whitespace-nowrap text-ellipsis
    }
    .courses-page-loader {
        height: 4rem !important;
        width: 4rem !important;
        display: block !important;
        margin: auto !important;
    }
}


@utility container {
    max-width: 1440px;
    margin-inline: auto;
}
