@import 'tailwindcss';
@import './styles/fonts.css' layer(base);
@import './styles/theme.css' layer(theme);
@import '@aws-amplify/ui-react/styles.css';

@layer base {
    body {
        direction: rtl;
    }
}

@layer components {
    .sidebar-menu-text {
        @apply overflow-hidden transition-all duration-300 whitespace-nowrap text-ellipsis
    }

    .courses-page-loader {
        height: 4rem !important;
        width: 4rem !important;
        display: block !important;
        margin: auto !important;
    }
}

.admin-panel-container {
    max-width: 1440px;
    margin-inline: auto;
}

#main-index {
    @apply pt-2 min-h-screen bg-[url(/images/main/bg.webp)] bg-background bg-cover bg-center
}

.main-header {
    border: 0.85px solid rgba(255, 255, 255, 0.2);
}

.tournaments-banner-swiper {
    @apply w-full max-h-[652px] h-full !pb-6
}

.tournaments-banner-swiper .swiper-pagination-bullet {
    @apply !w-5 !h-5 bg-gray-900 !opacity-100
}

.tournaments-banner-swiper .swiper-pagination-bullet-active {
    @apply bg-purple-500
}
.tournaments-banner-swiper .swiper-pagination {
    @apply !top-full !left-0 !h-5 flex justify-start !pl-9
}

.swiper-3d .swiper-slide-shadow {
    @apply !opacity-0 !invisible
}